/project/
/raw/

# TeX compilation files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.lof
*.lot
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.xdv
*.backup
*-blx.bib